

.designerFurniture44444{
    color: #303032;
    font-family: Playfair Display;
    font-style: normal;  /*  Определяет начертание шрифта: обычное, курсивное или наклонное */
    font-weight: 700;
    line-height: 45px; /* 82.65px это межстрочный интервал */ 
    letter-spacing: 2.85px;   /*задаёт межбуквенное расстояние — интервал между символами в тексте. */
    text-transform: uppercase;
    position: absolute;
    top: 150px;
    left: 100px;
} 
